<a href="https://colab.research.google.com/github/shuizenga/hello-world/blob/master/NoahsCourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(10):
  print(f"This it the loob number: {i}")

This it the loob number: 0
This it the loob number: 1
This it the loob number: 2
This it the loob number: 3
This it the loob number: 4
This it the loob number: 5
This it the loob number: 6
This it the loob number: 7
This it the loob number: 8
This it the loob number: 9

List

In [2]:
my_basket = ["eggs", "butter", "apple"]
len(my_basket)

3

In [3]:
for food in my_basket:
  print(f"I ame hungry I'm agoing to eat: {food}")

I ame hungry I'm agoing to eat: eggs
I ame hungry I'm agoing to eat: butter
I ame hungry I'm agoing to eat: apple

Dictionary

In [9]:
my_dict = {"one": "apple", "two": "eggs", "three": "butter"}
len(my_dict)
my_dict["one"]
"one" in my_dict
"five" in my_dict
my_dict.values()

dict_values(['apple', 'eggs', 'butter'])

In [12]:
for number, food in my_dict.items:
  print(f"This is {number}: This is food {food}")

TypeError: ignored

Real world math problem

In [14]:
total = 0
expenses = [5, 90, 200, 2000]
for expense in expenses:
  total += expense
  print(f"adding the following expenses: TOTAL {total}, EXPENSE {expenses}")

adding the following expenses: TOTAL 5, EXPENSE [5, 90, 200, 2000]
adding the following expenses: TOTAL 95, EXPENSE [5, 90, 200, 2000]
adding the following expenses: TOTAL 295, EXPENSE [5, 90, 200, 2000]
adding the following expenses: TOTAL 2295, EXPENSE [5, 90, 200, 2000]

# New Section